<mat-tab-group backgroundColor="accent" color="primary">
  <mat-tab label="Appointments List">
    <div class="container">
      <h2>Upcoming Appointments</h2>
      <mat-spinner *ngIf="isLoadingAppointments"></mat-spinner>
      <table
        mat-table
        [dataSource]="apponitments.upcoming"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="availabilityDay">
          <th mat-header-cell *matHeaderCellDef>Day</th>
          <td mat-cell *matCellDef="let element">
            {{ element.availabilityDay }}
          </td>
        </ng-container>

        <ng-container matColumnDef="availabilityDateFormatted">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.availabilityDateFormatted }}
          </td>
        </ng-container>

        <ng-container matColumnDef="availabilityTime">
          <th mat-header-cell *matHeaderCellDef>Time</th>
          <td mat-cell *matCellDef="let element">
            {{ element.availabilityTime }}
          </td>
        </ng-container>

        <ng-container matColumnDef="doctorId">
          <th mat-header-cell *matHeaderCellDef>Doctor</th>
          <td mat-cell *matCellDef="let element">
            {{ element.doctorId.username }}
          </td>
        </ng-container>
        <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef>
            No any upcoming events to show here.
          </mat-footer-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <mat-footer-row
          *matFooterRowDef="['noData']"
          [ngClass]="{
            hide: !(!isLoadingAppointments && apponitments.upcoming.length == 0)
          }"
        ></mat-footer-row>
      </table>
    </div>
    <mat-divider></mat-divider>
    <br />
    <div class="container">
      <h2>Previous Appointments</h2>
      <mat-spinner *ngIf="isLoadingAppointments"></mat-spinner>
      <table
        mat-table
        [dataSource]="apponitments.previous"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="availabilityDay">
          <th mat-header-cell *matHeaderCellDef>Day</th>
          <td mat-cell *matCellDef="let element">
            {{ element.availabilityDay }}
          </td>
        </ng-container>

        <ng-container matColumnDef="availabilityDateFormatted">
          <th mat-header-cell *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.availabilityDateFormatted }}
          </td>
        </ng-container>

        <ng-container matColumnDef="availabilityTime">
          <th mat-header-cell *matHeaderCellDef>Time</th>
          <td mat-cell *matCellDef="let element">
            {{ element.availabilityTime }}
          </td>
        </ng-container>

        <ng-container matColumnDef="doctorId">
          <th mat-header-cell *matHeaderCellDef>Doctor</th>
          <td mat-cell *matCellDef="let element">
            {{ element.doctorId.username }}
          </td>
        </ng-container>

        <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef>
            No any previous events to show here.
          </mat-footer-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <mat-footer-row
          *matFooterRowDef="['noData']"
          [ngClass]="{
            hide: !(!isLoadingAppointments && apponitments.previous.length == 0)
          }"
        ></mat-footer-row>
      </table>
    </div>
    <mat-divider></mat-divider>
    <br />
  </mat-tab>
  <mat-tab label="New Appointment">
    <div class="row">
      <div class="col-lg-4 col-sm-6 col-xs-12">
        <form (ngSubmit)="submitAppointment()">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Doctor</label>
            <select
              class="form-control"
              name="exampleFormControlSelect1"
              [(ngModel)]="appointment.doctorId"
              (change)="getDoctorSlots($event.target.value)"
            >
              <option value="">Select Doctor</option>
              <ng-container *ngFor="let doctor of doctorList">
                <option [value]="doctor._id">{{ doctor.username }}</option>
              </ng-container>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Slot</label>
            <p *ngIf="!isLoadingSlots && doctorSlots.length == 0">No Slots</p>
            <p *ngIf="isLoadingSlots">Loading...</p>
            <ng-container *ngFor="let slot of doctorSlots">
              <div class="radio">
                <label
                  ><input
                    type="radio"
                    name="optradio"
                    (change)="onSlotSelectionChange(slot)"
                  />
                  {{ slot.availabilityDay }}
                  {{ slot.availabilityDateFormatted }} at time '{{
                    slot.availabilityTime
                  }}'</label
                >
              </div>
            </ng-container>
          </div>
          <button type="submit" class="btn btn-success">
            Submit Appointment
          </button>
        </form>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
