<mat-toolbar> <span>LOGIN</span> </mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
    <form class="my-form" [formGroup]="authForm" (ngSubmit)="login()">
      <mat-form-field class="full-width">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Username"
          name="username"
          formControlName="username"
          required
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="Password"
          name="password"
          formControlName="password"
          required
        />
      </mat-form-field>
      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary" [disabled]="isSubmitting">LOGIN</button>
      </mat-card-actions>
    </form>
    <mat-spinner [style.display]="isSubmitting ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
</mat-card>
