<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="/admin/create" routerLinkActive="active">
          Create Users
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/admin/index">
          View Users
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/admin/doctors">
          View Doctors
        </a>
      </li>
      <li routerLinkActive="active">
          <a routerLink="/admin/bookings">
            View Bookings
          </a>
        </li>

    </ul>
  </div>
</nav>

<div class="container">
  <!-- <router-outlet></router-outlet> -->
</div>
